#carouselExampleCaptions {
  width: 70%;
  background-color: grey;
}


.carousel-item {
  height: 30vh; /* 60% of screen height */
}

.carousel-caption p{
    color: black;
    background-color: rgba(250, 250, 250, 0.5);
    border-radius: 5px;
}

.carousel-item img {
  height: 100%;
  object-fit:contain
}

#Barbers img{
  height: 30vh;
  object-fit:contain
}